:root{
    --main-color:#9d2bff;
    --primary-bg-color:#fff;
    --secondary-bg-color:#eee;
    --primary-text-color:#222;
    --secondary-text-color:#666;
    
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    transition:all .3s cubic-bezier(.38,1.15,.7,1.12);
}
*::selection{
    background-color: var(--main-color);
    color:#fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--secondary-bg-color);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
body{
    background:var(--secondary-bg-color);
}

body.dark-theme{
    --primary-bg-color:#353b54;
    --secondary-bg-color:#171C32;
    --primary-text-color:#fff;
    --secondary-text-color:#eee;

    
    
}
section{
    min-height: 100vh;
    padding:1rem;
    padding:0 8%;
}

.btn{
    display: inline-block;
    padding:.9rem 3.5rem;
    font-size: 2rem;
    background:none;
    color:#fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin-top: 1rem;
    z-index: 0;
    position: relative;
    overflow: hidden;
    border:.2rem solid var(--main-color);
}

.btn::before{
    content: '';
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    background:#0555ff;
    height:85%;
    width: 95%;
    z-index: -1;
    transition: .2s linear;
}

.btn:hover:before{
    top:100%;
    transform: translate(-50%, 100%);
}

.btn:hover{
    color:var(--primary-text-color);
}

.heading{
    font-size: 5rem;
    color:var(--primary-text-color);
    text-align: center;
    padding:1rem;
    text-transform: uppercase;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}
